.quiqqer-auth-linkedin-registration {
    background: #0A66C2 !important;
    color: #fff !important;
    border-color: #0A66C2 !important;
}

.quiqqer-auth-linkedin-registration:hover {
    background: #004182 !important;
}
